{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Seicomex</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'web/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'web/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


    <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/logout">Salir</a></li>

  </ul>
  <!-- Menu Principal -->
  <div class="navbar-fixed">
  <nav class="orange ligth" role="navigation">
    <div class="nav-wrapper ">
      <a id="logo-container" href="#" class="brand-logo"><img src="{% static 'web/images/logo.png' %}"  height="60" width="200" alt=""></img></a>
      <ul class=" right hide-on-med-and-down">

          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">perm_identity</i></a></li>
      </ul>

      <ul id="nav-mobile" class="section table-of-contents orange side-nav">
        <li><a  href="#index-banner">Inicio</a></li>

        <li><a class = "modal-trigger"  href="#modal1">Cerrar Sesion</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<!-- Datos -->

  <ul class="collapsible" data-collapsible="accordion">
    {% for tramite in tramites %}
    <li>
      <div class="collapsible-header orange lighten-3">
        <div class="row">
            <div class="col s1"><i class="material-icons">work</i></div>
            <div class="col s3 left-align">Titulo: {{tramite.titulo}}</div>
            <div class="col s4 center-align">Referencia: {{tramite.referencia}}</div>
            <div class="col s4 right-align">Estado: {{tramite.detalles.last.estado}}</div>
        </div>
      </div>
      <div class="collapsible-body">
        <table>
        <thead>
          <tr>
              <th data-field="Fecha">Fecha</th>
              <th data-field="Hora">Hora</th>
              <th data-field="Estado">Estado</th>
              <th data-field="Precio">Documento</th>
              <th data-field="Precio">Observacion</th>
          </tr>
        </thead>

        <tbody>
          {% for detalle in tramite.detalles.all %}
          <tr>
            <td>{{detalle.fecha|date:"d-m-Y "}}</td>
            <td>{{detalle.fecha|time:"H:i"}}</td>
            <td>{{detalle.estado}}</td>
            {% if detalle.documento %}
            <td><a href={{detalle.documento.url}}><i class="material-icons">archive</i></a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{detalle.observacion}}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>


      </div>
    </li>
{% endfor %}


  </ul>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'web/js/materialize.js' %}"></script>
  <script src="{% static 'web/js/init.js' %}"></script>
  <script src="{% static 'web/js/index.js' %}"></script>


  </body>
</html>
